main {
	min-height: 90vh;
}

.rating i {
	color: #ff9900;
	padding: 2px;
}
.deleteButton {
	color: white;
}
.cartHeader {
	background-color: #f0f0f0;
}
.no-gutters {
	margin-right: 0;
	margin-left: 0;

	& > [class^="col-"],
	& > [class*=" col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

.item-center {
	display: grid;
	grid-auto-flow: column;
	gap: 4px;
	align-items: center;
	justify-items: center;
}

.nav-border {
	border-bottom-style: solid;
	border-bottom-color: grey;
	border-bottom-width: 1px;
}

.sticky-top {
	position: fixed;
	top: -5;
	width: 100%;
}

.sticky-bot {
	position: fixed;
	bottom: 0;
	width: 100%;
}
