main {
	min-height: 90vh;
}

.rating i {
	color: #ff9900;
	padding: 2px;
}
.deleteButton {
	color: white;
}
.cartHeader {
	background-color: #f0f0f0;
}
.no-gutters {
	margin-right: 0;
	margin-left: 0;

	& > [class^="col-"],
	& > [class*=" col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

.item-center {
	display: grid;
	grid-auto-flow: column;
	gap: 4px;
	align-items: center;
	justify-items: center;
}

.nav-border {
	border-bottom-width: 1px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.sticky-top {
	position: fixed;
	top: -5;
	width: 100%;
}

.sticky-bot {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.searchBar {
	box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
}
.searchIcon {
	box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
}

.menu-icon {
	display: none;
}

.navlinks {
}

@media screen and (max-width: 600px) {
}
