main {
	min-height: 90vh;
}

.rating i {
	color: #ff9900;
	padding: 2px;
}
.reviewRating {
	height: 200px;
	width: 200px;
}
.deleteButton {
	color: white;
}
.cartHeader {
	background-color: #f0f0f0;
}

.item-center {
	display: grid;
	grid-auto-flow: column;
	gap: 4px;
	align-items: center;
	justify-items: center;
}

.nav-border {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.sticky-top {
	position: fixed;
	top: -5;
	width: 100%;
}

.sticky-bot {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.searchBar {
	box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
}
.searchIcon {
	box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
}

.menu-icon {
	display: none;
}

.navlinks {
}

.popUp-outer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.popUp-inner {
	position: relative;
	padding: 32px;
	width: 100%;
	max-width: 640px;
	background-color: white;
}
.rate-popUp-inner {
	position: relative;
	padding: 32px;
	width: 100%;
	max-width: 640px;
	max-height: 325px;
	background-color: white;
}

.popUp-button {
	position: absolute;
	top: 16px;
	right: 16px;
}

.button-lower-right {
	position: absolute;
	bottom: 16px;
	right: 48px;
}

.button-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 600px) {
}
